<div class='intro'>
  <h2>Welcome to <span style='color:orange'>Touristo<em>!</em></span> <br> A site with <em style="font-size: 35px;">Everything</em> you need to know about your next trip is here!</h2>

  <div class="country_section">
  <h3></h3>
  Want to learn more about a country before you actually arrive? This is the site for you! <br> From learning how to speak the lingo, to knowing the history and culture, touristo<em>!</em> can help you with your travel needs.
    <br>

    <div class="firstSec">
      <h3><a href='#!/country' style='color: cyan; font-size: 25px; font-family: Arial;'>COUNTRIES YOU'D LIKE TO VISIT</a></h3>
      <div class="infoUnderLink">(Click the link above or "Country" in the navigation bar at the top to learn more about your interesting destination!)
      </div>
<br>
        <span style='color: white; font-size: 20px;'>OR</span>


    <div class="secondSec">
      <h3 style='color: cyan; font-size: 25px;'><a href='#!/translate' style='color:cyan'>TRANSLATE</a></h3>
        <div class="infoUnderSecondLink">
          (Click the above link or the 'translate' link on the navigation bar to learn to speak like a native!)
        </div>

    </div>

    </div>
  </div>
</div>
